<br>
<p>
  <%= image_tag @post.picture, :size => '100x100' %>
</p>

<p>
  <strong>タイトル：</strong>
  <%= @post.title %>
</p>

<p>
  <strong>内容：</strong>
  <%= @post.text %>
</p>

<h2><i class="glyphicon glyphicon-grain"></i> コメント欄</h2>

<%= render @post.comments %>

<h2><i class="glyphicon glyphicon-grain"></i> コメントを追加</h2>

<%= render "comments/form" %>

<%= link_to '戻る', posts_path %>
<%= link_to '編集', edit_post_path(@post) %>
